.screen{width: 100%;
height: 100vh;
border: 0;
margin: 0;
background-image: url(https://www.bing.com/th/id/OGC.f435e24f6dbafc8e9e00af905e533be7?pid=1.7&rurl=https%3a%2f%2fi.imgur.com%2f8SFV1UH.gif&ehk=y6zaBjmrxImqkzOllYu2Sxe9yTikiDlWxmZ3uAJOZe4%3d);
background-position: center;
background-size: cover;
position: relative;}

h1{
margin-left: 330px;
margin-top: 5px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 45px;
color: rgb(11, 255, 2);}
.profile{width: 110px;
    height: 110px;
margin-bottom: 100px;
margin-left: -150px;
border-radius: 55px;
margin-top: 20px;}
h6{float: right;
font-family:monospace;
font-size: 20px;
color: rgb(11, 255, 2);
margin-top:110px;
}
.text1{color: rgb(11, 255, 2);
float: left;
margin-top: 170px;
margin-left: 130px;
font-size: 30px;

}
.image1{margin-left: 255px;
    margin-top: 80px;
width: 50px;
height: 50px;
border-radius: 20px;}
.image2{margin-left: 100px;
width: 50px;
height: 50px;
border-radius: 20px;
}
.image3{margin-left: 219px;
    margin-top: 0px;
width: 50px;
height: 40px;
border-radius: 20px;}
.image4{margin-left: 101px;
width: 50px;
height: 50px;
border-radius: 20px;}

    



